.git
.gitignore
.next
node_modules
npm-debug.log*
.env*
!.env.example
.vscode
.idea
tests
test-results
playwright-report
playwright.config.ts
vitest.config.ts
docs
sample-designe
*.md
!README.md
docker-compose.yml
.dockerignore
Dockerfile
bash.exe.stackdump
tsconfig.tsbuildinfo
